astroid==3.0.3
asttokens==2.4.1
black==24.2.0
click==8.1.7
decorator==5.1.1
dill==0.3.8
executing==2.0.1
flake8==7.0.0
importlib-metadata==7.0.1
iniconfig==2.0.0
ipython==8.21.0
isort==5.13.2
jedi==0.19.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mypy==1.8.0
mypy-extensions==1.0.0
packaging==23.2
parso==0.8.3
pathspec==0.12.1
pexpect==4.9.0
platformdirs==4.2.0
pluggy==1.4.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.11.1
pyflakes==3.2.0
Pygments==2.17.2
pylint==3.0.3
pytest==8.0.1
six==1.16.0
stack-data==0.6.3
tomli==2.0.1
tomlkit==0.12.3
traitlets==5.14.1
typing_extensions==4.9.0
wcwidth==0.2.13
zipp==3.17.0
